#title{
    text-align: center;
 }
 
 
 #image{
<<<<<<< HEAD
    max-width: 100% ;
    height: auto;
=======
 
 
    max-width: 100% ;
 
 
    height: 80vh;
>>>>>>> f17c0f41de4e7ef54644e31c4d2ecd411b2c9254
 

 }
 
 #img-div{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
 
 }
<<<<<<< HEAD
 #tribute-info{
    text-align: center;
 }
 #tribute-link{
  display: flex;
  justify-content: center;
  align-items: center;
 }
=======
 
>>>>>>> f17c0f41de4e7ef54644e31c4d2ecd411b2c9254
 