#title{




    text-align: center;
 
 
 }
 
 
 #image{

    max-width: 100% ;
    height: 80vh;
 
 }
 
 #img-div{
 
 
    display: block;
 
 
    margin-left: auto;
 
 
    margin-right: auto;
 
 
    width: 50%;
 
 
 }
 
 